*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.user-navigation,
.footer-social ul {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active,
.main-navigation a:active {
  color: #9c9898;
}

.main-navigation .site-navigation {
  display: flex;
  justify-content: space-around;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  margin: 0;
}

.site-navigation li {
  width: 20%
}

.site-navigation li:first-child,
.site-navigation li:nth-child(3) {
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:first-child {
  margin-left: 6%;
}

.site-navigation li:last-child {
  margin-right: 6%;
}

.main-header-logo {
  display: block;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 140px;
  height: 71px;
  margin: 0 auto;
}

.picture {
  background-color: #b1defa;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top -75px center;

  min-height: 510px;
}

.picture img {
  display: block;
  width: 459px;
  height: 353px;
  margin: 0 auto;
  padding-top: 75px;
}

.section-lead {
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 30px;
}

.lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  width: 600px;
  margin: 0 auto;

  background-color: #ffffff;
}

.features ol,
.features ul {
  padding-left: 0px;
  margin: 0px;
}

.features-title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;

  margin: 0 auto;
  padding-bottom: 55px;

  background-color: #ffffff;
}

.feauters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feauters-list,
.item {
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.feauters-list h3,
.feauters-list h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 25px;
}

.feauture-item p {
  margin: 0;
  margin-top: 25px;
}

.feauture-item.blue-item {
  background-color: #81b3d2;

  color: #ffffff;

  display: flex;
  flex-wrap: nowrap;
}

.feauture-item.blue-item:first-child {
  flex-wrap: wrap;
}

.feauture-item.blue-item:nth-child(2) {
  flex-direction: row-reverse;
}

.blue-item-column {
  width: 33.33%;
  padding: 46px 48px 64px 48px;
}

.blue-item-image {
  width: 66.66%;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.blue-item-image img {
  display: block;
  padding: 0;
  margin: 0;
}

.gray-item {
  background-color: #eeeeee;
  width: 33.33%;
  padding: 45px 60px 60px 60px;
}


.items {
  background-color: #ffffff;

  color: #000000;

  display: flex;
  justify-content: space-between;
  width: 100%;
}


.item {
  width: 33.3%;
  padding: 65px 55px 85px 55px;
}


.tagline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

}

.search-form-tagline {
  background-color: #ffffff;

  margin: 0 auto;
  padding-top: 55px;

  position: relative;
}

.search h2 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.search-btn {
  display: block;
  width: 560px;
  padding: 25px 50px 25px 50px;
  margin: 50px auto 0px auto;


  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #604e43;
  outline: none;
}

.search-btn:active {
  background-color: #503e33;
  color: #857871;
}

.search-form-container {
  width: 560px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 320px;
  background-color: #ffffff;

  margin: 0 auto;
  padding: 55px;
}

.search-item {
  font-weight: 700;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-item:hover input {
  background-color: #ebebeb;
}

.input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  outline: none;
}

.btn,
.control {
  background-color: #f2f2f2;
  border: none;
}

.search-button {
  width: 100%;
  margin: 0 auto;
  margin-top: 55px;
  padding: 25px 50px 25px 50px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
  outline: none;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map {
  position: relative; /*нужно?*/
  min-height: 475px;
  margin-bottom: -120px;
}

.map img {
  display: block;
}


/*стилизация каталога*/

.current a,
.current:hover a,
.current:focus a {
  color: #766357;
}

.filters {
  background-color: #303034;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;

  color: #ffffff;
}

.filter-hotels {
  display: flex;
}

.infrastructure {
  width: 240px;
  margin-left: 73px;
  padding-top: 30px;
}

.type {
  width: 288px;
  margin-left: 15px;
  padding-top: 30px;

}

.filter-hotels ul,
.type ul {
  padding: 0;
}

.filter-option {
  width: 328px;
  margin-right: 73px;
  margin-left: auto;
  padding-top: 30px;
}

.filter-option p {
  margin-top: 0px;
}

.filters fieldset {
  border: none;
}

.filters ul {
  list-style: none;
}

.filters legend,
.filter-option p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-option label {
  font-size: 14px;
  line-height: 21px;
}

.filter-button {
  display: block;
  padding: 10px 30px;
  margin: 0 auto;

  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.results {
  display: flex;
  align-items: baseline;

  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;

}

.results p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  width: 165px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 73px;
}

.results h2 {
  width: 110px;
  margin: 0;
}

.results ul {
  width: 250px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.results-buttons {
  width: 240px;
  margin-right: 73px;
  margin-left: auto;
}

.results h2,
.results a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.not-active a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.not-active:hover a,
.not-active:focus a {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.not-active:active a {
  color: #000000;
  border: none;
}

.active a {
  color: #81b3d2;
  border: none;
}

.catalog {
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
}

.book-wrapper {
  display: flex;
}

.catalog-item-image img {
  display: block;
}

.catalog-item-image {
  width: 165px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 73px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin-top: 24px;
  margin-bottom: 9px;
}

.wrapper {
  width: 363px;
}

.about {
  width: 117px;
}

.more {
  margin: 0;
  margin-top: 13px;
}

.booking {
  width: 247px;
}

.button-book {
  margin: 0;
  margin-top: 13px;
}

.hotel-name a {
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #d7d7d7;
}

.catalog-item span {
  font-size: 14px;
  line-height: 21px;
}

.more a,
.button-book a {
  padding: 6px 18px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.more a {
  background-color: #81b3d2;
}

.button-book a{
  background-color: #766357;
}

.more:hover a,
.more:focus a {
  background-color: #669ec0;
}

.more:active a {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-book:hover a,
.button-book:focus a {
  background-color: #604e43;
}

.button-book:active a {
  color: #766860;
  background-color: #503e33;
}

.stars {
  width: 328px;
  margin-left: auto;
  margin-right: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popular {
  display: block;

  width: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-top: 45px; /*задать после стилизации звездочек*/

  text-align: center;

  font-size: 14px;
  line-height: 21px;
  color: #828282;

  background-color: #f2f2f2;
}

/*стилизация футера*/

.main-footer {
  background-color: #ffffff;

  display: flex;

  position: relative;

  min-height: 120px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  width: 33.33%;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer-social {
  width: 33.33%;
  margin: 0 auto;
  padding-top: 36px;
}

.footer-social ul {
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-button {
  background-color: #81b3d2;
  margin: 3px;
  width: 48px;
  height: 48px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  text-align: center;

  width: 33.33%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.footer-copyright b {
  font-weight: 400;
  padding-top: 50px;
  padding-right: 5px;
}

.button {
  padding-top: 40px;
}

/* для логотипа html-academy
button:hover a,
:focus{
  color: #81b3d2;
}

:active {
  color: #d7d7d7;
}*/
